# Compiled class file
*.class

# Gradle 관련
.gradle
build/

# Gradle Wrapper
backend/wrapper/*
!gradlew
!gradlew.bat
!gradle/wrapper/*

# 예외 설정이 잘못된 부분 제거
!**/src/main/**/build/
!**/src/test/**/build/


# Log file
*.log
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# BlueJ files
*.ctxt
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# SSL 인증서 및 키 파일 제외
*.crt
*.key
nginx/ssl/
nginx/www/


# Other Files #
*.mwb
*.DS_Store
*.env


