/* Button 기본 스타일 */
.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.button.verySmall {
  padding: 0px;
  font-size: 12px;
}

.button.small {
  padding: 5px 10px;
  font-size: 14px;
}

.button.medium {
  padding: 10px 20px;
  font-size: 16px;
}

.button.large {
  padding: 15px 20px;
  font-size: 24px;
}

/* input과 동일 높이 */
.button.input {
    font-size: 14px;
    padding: 7px;
}

.button.header {
    font-size: 14px;
    padding: 3px;
    min-width: 60px;
}

/* 색상에 따른 버튼 스타일 */
.button.primary {
  background-color: #007bff;
}

.button.secondary {
  background-color: #6c757d;
}

.button.secondary:hover {
  background-color: #565e64;
}

.button.green {
  background-color: #4caf50;
}

.button.danger {
  background-color: #dc3545;
}

.button.warning {
  background-color: #ffc107;
}

.button.disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

.button.blue {
  background-color: #007bff;
}

.button.logout {
  background-color: #f44336;
}

.button.function {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  display: inline-block;
  font-weight: bold;
}

.button.active {
    background-color: #4CAF50;
    cursor: pointer;
}

.button.close {
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 100%;
}

.button.top {
  margin-top: 10px;
}

.button.marginNone {
  margin: 0px;
}

.button.paddingNone {
  padding: 0px;
}

button:hover {
  opacity: 0.8;
}
