.calendarContainer {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  position: relative;
}

:global(.fc-header-toolbar.fc-toolbar) {
  margin: 10px;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:global(.fc-daygrid-event.fc-event-end) {
  overflow: hidden;
}

:global(.fc-event:hover){
  cursor: pointer;
}

:global(.fc-daygrid-day-frame) {
  transition: background-color 0.2s ease-in-out;
}

:global(.fc-daygrid-day-frame:hover) {
  background-color: rgba(0, 0, 0, 0.03);
}

:global(.fc-v-event) {
  border: 0px;
  padding: 2px;
}

:global(.fc-h-event) {
  border: 0px;
  padding: 1px;
}

/* Calendar.module.css 또는 Button 관련 CSS에 추가 */

@media (max-width: 600px) {
  /* 버튼 폰트 크기와 패딩을 줄임 */
  .calendarContainer :global(.fc-button) {
    font-size: 12px;
    padding: 4px 8px;
    min-height: 25px;
    min-width: 20px;
  }
  .calendarContainer :global(.fc-toolbar-title) {
    font-size: 14px;
  }

  /* "오늘" 버튼 따로 커스터마이징 필요하면 */
  .calendarContainer :global(.fc-today-button) {
    font-size: 12px;
    padding: 4px 8px;
  }

  .calendarContainer :global(.fc-toolbar.fc-header-toolbar) {
    margin: 10px;
  }

  .calendarContainer {
    padding-top: calc(60px + env(safe-area-inset-top));
    box-sizing: border-box;
    overflow-y: auto;
  }

  :global(.fc-col-header-cell-cushion) {
    display: flex;
    flex-direction: column;
    white-space: normal;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
  }

  :global(.fc .fc-button) {
    font-size: 12px;
    padding: 4px 6px;
  }

}