.calendarContainer {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  position: relative;
}

:global(.fc-header-toolbar.fc-toolbar) {
  margin-left: 10px;
  margin-right: 10px;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:global(.fc-event:hover){
  cursor: pointer;
}

:global(.fc-daygrid-day-frame:hover) {
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.02);
}