/* General header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: relative; /* Ensure dropdowns align properly */
  z-index: 10;
}

/* Left Section */
.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebarToggleButton {
  margin-right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

/* Right Section */
.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Notification Button and Badge */
.notificationWrapper {
  position: relative;
}

.notificationButton {
  position: relative;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Dropdown for Notifications */
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 20;
  min-width: 200px;
  width: 300px;
  height: auto;
}

.dropdown h3 {
  margin: 0 0 10px 5px;
}

.notificationList {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px; /* 최대 높이 제한 */
  overflow-y: auto;  /* 내용이 넘칠 때만 스크롤 */
}

.notificationList::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

.notificationItem {
  padding: 5px 0;
  border-bottom: 1px solid #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 5px;
}

.notificationItem:last-child {
  border-bottom: none;
}

.noNotifications {
  color: #888;
  font-size: 14px;
  text-align: center;
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 5px;
}

.infoRow p {
  flex: 2;
  padding: 5px;
  margin: 0px;
}

.infoRow button {
  flex: 1;
}

.dropdownFooter {
  margin-top: 10px;
}