.formContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formContainer button {
  flex: 0.5; /* 버튼은 레이블과 비슷한 넓이 */
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formContainer label {
    text-align: left; /* 텍스트 오른쪽 정렬 */
    margin-right: 5px; /* 입력 필드와 간격 */
    width: 95px;
}

.formContainer input {
    flex: 2; /* 입력 필드는 더 넓게 */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 10px;
}

.passwordText {
  margin-top: -10px;
  margin-bottom: 10px;
}

.passwordError {
  color: red;
  margin-top: -10px;
  margin-bottom: 15px;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

/* 모바일일 경우 세로 배치로 변경 */
@media (max-width: 480px) {
  .infoRow {
    flex-direction: column;
    align-items: stretch;
  }

  .formContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-y: auto;
    max-width: 100%;
    border: none;
    border-radius: none;
    box-shadow: none;
  }

  .infoRow input,
  .infoRow button {
    width: 100%;
    box-sizing: border-box;
  }
}